body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    background: green;
    color: white;
    border: none;
}

li {
    margin: 10px 0;
}
